.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  width: 100%;
  top: 0%;
  z-index: 1;
  color: white;
  background-color: #1b2738;
}

.fa-brands.fa-steam,
.fa-brands.fa-github,
.fa-brands.fa-linkedin {
  font-size: 50px; /* adjust the size as needed */
  height: 50px; /* should be the same as .sessionLinks height */
  line-height: 50px; /* vertically center the icon */
  width: 50px;
  padding: 10px;
  color: #ffffff; /* change the color of the icon */
  background-color: transparent;
}

.right {
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
}
.right a {
  color: white;
  text-decoration: none;
}
.sessionLinks {
  display: inline-block;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  background-image: linear-gradient(to right, #186a18, #106410);
  color: white;
  border: 1px solid #005000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin-right: 10px;
  transition: 0.3s;
}
.storeLink {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  background-image: linear-gradient(to right, #d3e62aa9, #d3e71ed2);
  color: white;
  border: 1px solid #bcce18;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin-right: 10px;
  transition: 0.3s;
}

.sessionLinks:hover,
.storeLink:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.sessionLinks:active {
  box-shadow: none;
  transform: translateY(1px);
}
.navlink .userIcon {
  position: absolute;
  right: 10px; /* Adjust as needed */
}

.navlink li {
  list-style: none;
}
/* Optional: you might want to style the overall Navigation as well */
.navigation {
  display: block;
  justify-content: space-between;
  padding: 0 10px; /* Or whatever value you find suitable */
  background-color: #0d1117; /* blackblue color */
}
.fa-solid.fa-user-circle {
  font-size: 50px; /* adjust the size as needed */
  height: 50px; /* should be the same as .sessionLinks height */
  line-height: 50px; /* vertically center the icon */
  width: 50px;
  padding: 10px;
  color: #000000; /* initial color, will be overridden by background-clip */
  background-image: linear-gradient(
    to right,
    #007bff,
    #00bfff
  ); /* blue gradient */
  background-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

.fa-solid.fa-user-circle:hover {
  transform: translateY(-2px);
}

.fa-solid.fa-user-circle:active {
  transform: translateY(1px);
}

.profile-button-container {
  position: relative;
  display: inline-block;
}

.profile-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 20%;
  background-color: rgba(169, 169, 169, 0.596);
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.801);
  z-index: 9999;
}

.dropdown-item {
  display: block;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #3a7b99;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
  /* z-index: 9999; */
}

.dropdown-item:last-child {
  margin-bottom: 0;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.dropdown-divider {
  height: 1px;
  background-color: #dcdcdc;
  margin: 4px 0;
}

.left {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
}
.mid {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.mid > .store > a:not(:last-child) {
  margin-right: 10px; /* Adjust the desired space between the elements */
}
.navbar .steamLogo {
  display: flex;
  align-items: center;
  font-size: 32px;
}
