.home {
  width: 100vw; /* 100% of the viewport width */
  min-height: 100vh; /* 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;
}

.home-body {
  display: flex;
  width: 90%; /* 90% of the parent width */
  /* margin: 0 5%; 5% margins to each side of the parent */
  height: 100vh; /* Set the height to fill the viewport */
}

.block1 {
  width: 20%; /* 20% of the parent width */
  /* background-color: red; Just for visibility, replace with actual color */
  overflow-y: auto; /* For auto scroll */
  margin-right: 1%; /* 10% margin right */
}

.block1::-webkit-scrollbar {
  display: none; /* Hide scrollbar in webkit browsers */
}

.block2 {
  margin-top: 1%;
  width: 950px;

  overflow-y: auto; /* For auto scroll */
}
.recommend-text {
  margin-bottom: 10px; /* adjust as needed */
  text-align: left;
  font-size: 16px;
  color: white;
}

.block2::-webkit-scrollbar {
  display: none; /* Hide scrollbar in webkit browsers */
}
