.game-page {
  display: flex;
  justify-content: space-between;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.4))
  );
}

.game-body {
  color: white;
}

.game-carousel {
  width: 60%;
  padding: 1%;
}

.game-title,
.game-header {
  margin-left: 15%;
  text-align: left;
}

.game-title {
  font-size: xx-large;
}

.game-header {
  color: lightgray;
}

.rightside {
  margin-top: -2%;
  width: 40%;
  padding: 3%;
}
.thumbs-wrapper .axis-vertical {
  margin: 5px !important;
}
.game-cover {
  width: 100%;
  height: auto; /* Preserve aspect ratio */
}

.game-info {
  margin-top: 20px;
  color: #66c0f4;
}

.game-carousel .carousel-image {
  object-fit: cover !important;
  width: 100%;
  height: 100%;
}

.comments {
  display: flex;
  flex-direction: row; /* Changing from row to column */
  min-height: 50vh;
  margin: 0 auto;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.4))
  );
  width: 70%; /* Ensures it takes full width of the parent container */
}

.comment {
  background-color: grey;
  padding: 1%;
  margin: 1% 0;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.existing-comments {
  display: flex;
  background-color: #3f5460;
  min-height: 30%;
  flex-direction: column;
  width: 50%;
}
.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-content {
  padding: 10px 0;
}

.new-comment-form {
  margin-top: 20%;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  height: 75%; /* Increased the height as per your requirement */
}

.new-comment-form textarea {
  width: 75%; /* Set to 75% as per your requirement */
  min-height: 50%;
  margin: auto;
}

.button-selected {
  background-color: #4caf50;
  color: white;
}

/* Removing margins and padding from buttons */
.comments button {
  width: 70%;
  margin-left: 15%;
  padding: 0;
}

.game-body .mid {
  display: flex;
  justify-content: space-between;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.about {
  width: 100%;
  height: 100%;
  background-color: darkblue;
  margin: auto;
  margin-left: 5%;
  margin-top: 10%;
  color: #acb2b8;

  display: flex;
  margin-bottom: 10%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.long-description-header {
  color: red;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mid-right {
  background-color: #1b2838;
  margin-left: 15%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.mid-right p {
  margin-top: 10%;
  margin-bottom: 10%;
}

.purchase button {
  color: white;
  width: 50%;
  height: 90%;
  background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
}

.price-layer {
  height: 40%;
  width: 30%;
  display: flex;
  align-items: center; /* Align game info vertically */
  justify-content: flex-end; /* Align game info horizontally */

  background-color: black;
}
.purchase {
  height: 100px;
  width: 35%;
  margin-left: 15%;
  display: flex;
  align-items: center; /* Align game info vertically */
  justify-content: flex-start; /* Align game info horizontally */
  background: linear-gradient(
    -60deg,
    rgba(226, 244, 255, 0.3) 5%,
    rgba(84, 107, 115, 0.3) 95%
  );
  position: relative; /* Add position: relative to the container */
  margin-bottom: 5%;
}

.game-info {
  margin-left: 5%;
  font-size: larger;
  text-align: left; /* Align text to the left */
}

.price-layer {
  position: absolute;

  width: 200px;
  bottom: -15%; /* Adjust this value to position the button halfway out from the bottom right corner */
  right: 10%; /* Adjust this value to position the button halfway out from the bottom right corner */
}
.price-layer p {
  margin-right: 20%;
}

.tags p {
  margin-top: 20px;
  margin-bottom: 10px;
}

.tags .tag {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #384959;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.tags .tag:hover {
  background-color: #ddd;
  color: #000;
}

.game-carousel .thumb {
  height: 48px;
  width: 80px;
}
