.game-body {
  color: white;
  width: 60%;
  margin-left: 20%;
}

.game-body .carousel .thumbs-wrapper {
  margin: 0 !important;
  width: 100%;
}

.game-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.4))
  );
}

.game-carousel {
  width: 60%;

  margin-top: 1%;
}

.game-title,
.game-header {
  text-align: left;
}

.game-title {
  color: white;
  font-family: Motiva Sans, Arial, Helvetica, sans-serif;
  font-size: 26px;
  line-height: 32px;
  text-overflow: ellipsis;
}

.game-header {
  margin-top: 0.5%;
  color: #56707f;
  font-size: 14px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
}

.game-header a:hover {
  color: white;
}

.rightside {
  margin-top: -2%;
  width: 40%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.short-description {
  color: #c6d4df;
  font-size: 13px;
  padding: 0px 16px 16px 0px;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 111px;
  overflow: hidden;
  font-size: 13px;
  line-height: 18px;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.thumbs-wrapper .axis-vertical {
  margin: 5px !important;
}
.game-cover {
  width: 100%;
  max-width: 320px;
  height: auto; /* Preserve aspect ratio */
}

.game-info {
  margin-top: 10px;
  /* margin-left: 5%; */
  color: #66c0f4;
}
.purchase-section {
  color: #66c0f4;
  margin-left: 5%;
}
.game-info-section {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.game-info-title {
  flex: 1;
  text-transform: uppercase;
  font-size: 10px;
  color: #556772;
}
.mid-right .game-info-title {
  margin-left: 7%;
  margin-top: 2%;
}

.game-info-content {
  color: #67c1f5;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  flex: 2;
}
.date {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #8f98a0;
  flex: 2;
}

.game-info-tag-container {
  display: flex;
  flex-direction: column;
}
.game-info-tag {
  display: inline-block;
  line-height: 19px;
  padding: 0 7px;
  color: #67c1f5;
  background-color: rgba(103, 193, 245, 0.2);
  box-shadow: none;
  margin-right: 2px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 3px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-info-content .positive,
.game-info-content .average,
.game-info-content .negative {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.game-carousel .carousel-image {
  object-fit: cover !important;
  width: 100%;
  height: 100%;
}

.comments {
  display: flex;
  flex-direction: column; /* Changing from row to column */
  min-height: 500px;
  /* margin: 0 auto; */
  overflow-y: auto;
  background: rgba(32, 54, 62, 0.4);
  width: 100%; /* Ensures it takes full width of the parent container */
}
.comments::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}
.comment {
  background: #1b2838;
  padding: 1%;
  margin: 1% 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.existing-comments {
  display: flex;
  background-color: #0f415e;
  min-height: 30%;
  flex-direction: column;
  width: 59.5%;
}
.comment-section {
  display: flex;
  flex-direction: row;
}
.recent-comment {
  width: 37%;
  min-height: 100%;
  margin-left: 1.5%;
  display: flex;
  flex-direction: column;
}

.comment-content {
  /* padding: 10px 0; */
  margin-left: 3%;
  width: 55%;

  word-wrap: break-word;
  overflow-wrap: break-word;
}

.recent-comment .comment .comment-content {
  /* padding: 10px 0; */
  margin-left: 3%;
  width: 95%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.recent-comment .comment-username {
  margin-left: 5px;
}

.comment-content p {
  margin-left: 3%;
  font-size: 16px;
  color: #d6d7d8;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  padding: 3px 0px 0px 0px;
  line-height: 19px;
}

.comment-content-body {
  padding: 20px 0px 30px 0px;
  text-align: left;
  margin-right: 8px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: #acb2b8;
  overflow-wrap: break-word;
  overflow: hidden;
}
.vote::before {
  content: "";
  display: block;
  margin-top: 3px;
  margin-bottom: 5px;
  height: 0.3px;
  width: 100%;
  background-color: #e9e4e499;
}
.vote {
  display: inline-block;
  width: 100%;
  margin-right: 9px;
  color: #8091a2;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 3%;
  margin-bottom: 3%;
}
.vote .buttons {
  display: flex;
  margin-top: 1%;
  flex-direction: row;
}

.new-comment-section {
  background-color: #2a475e;
  margin-bottom: 3%;
}
.logged-in-form {
  display: flex;
  flex-direction: row;
}

.user-avatar {
  text-align: center;
  color: #c1dbf4;
  font-size: 13px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: bold;
}
.user-avatar img {
  height: 120px;
  width: 120px;
  padding: 10%;
}

.new-comment-form {
  margin-top: 2%;
  display: flex;
  margin-left: 5%;
  width: 90%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #1b2838;
  height: 75%;
  color: #ffffff;
  padding: 20px;
  margin-right: 3%;
  margin-bottom: 3%;
}

.new-comment-form textarea {
  width: 70%;
  min-height: 30vh;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #1b2838;
  font-size: 14px;
  color: #ffffff;
  resize: none;
  margin-top: 10px;
}

.new-comment-form .leave-comment {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
.like-dislike-buttons img {
  height: 32px;
  width: 32px;
}
.like-dislike-buttons {
  display: flex;
  justify-content: space-between;

  width: 80%;
  margin: 10px auto;
}

.like-dislike-button,
.button-selected,
.add-comment-button {
  border: 1px solid #66c0f4;
  background-color: transparent;
  color: #66c0f4;
  padding: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.like-dislike-button:hover,
.add-comment-button:hover {
  background-color: #66c0f4;
  color: #1b2838;
}

.button-selected {
  background-color: #66c0f4;
  color: #1b2838;
}

.add-comment-button {
  margin-top: 20px;
}

.comments .button-selected {
  background-color: #4caf50;
  color: white;
}

/* Removing margins and padding from buttons */
.comments button {
  width: 30%;
  /* margin-left: 15%; */
  padding: 2px;
  color: #ffffff;
  background-color: #196ed7;
  border-radius: 5%;
}
.create-comment-button input {
  min-height: 120px;
  min-width: 70%;
  margin-bottom: 1%;
}
.create-comment-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 50%; */
}
.comments button:hover {
  background-color: #66c0f4;
}
.exist-comment-button {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.game-body .mid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;

  margin: 0 auto;
}
.about {
  position: relative;
  width: 60%;
  height: 30vh;

  margin-top: 10%;
  line-height: 1.5em;
  font-size: 14px;
  margin-top: 30px;
  overflow: hidden;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;

  display: flex;
  margin-bottom: 10%;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.long-description-header::after {
  margin-top: 3px;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right, #add8e6, transparent);
}

.about::before {
  top: 0;
}

.about::after {
  bottom: 0;
}

.long-description-header {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;

  color: white;
  margin: 0 0 10px;
  letter-spacing: 0.03em;
  font-weight: normal;
}
.long-description-body {
  /* padding: 30px; */
  font-size: 14px;
  color: #acb2b8;
}
.mid-right {
  background-color: #1b2838;
  height: 30vh;
  width: 39%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mid-right p {
  margin-top: 10%;
  /* margin-bottom: 10%; */
}

.purchase button {
  color: white;
  width: 50%;
  height: 90%;

  background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
}

.price-layer {
  height: 40%;
  width: 75%;
  display: flex;
  align-items: center; /* Align game info vertically */
  justify-content: flex-end; /* Align game info horizontally */

  background-color: black;
}
.purchase {
  height: 100px;
  width: 60%;
  /* margin-left: 15%; */
  display: flex;
  align-items: center; /* Align game info vertically */
  justify-content: flex-start; /* Align game info horizontally */
  background: linear-gradient(
    -60deg,
    rgba(226, 244, 255, 0.3) 5%,
    rgba(84, 107, 115, 0.3) 95%
  );
  position: relative; /* Add position: relative to the container */
  margin-bottom: 5%;
}

.game-info {
  font-size: larger;
  text-align: left; /* Align text to the left */
}

.price-layer {
  position: absolute;

  width: 200px;
  bottom: -15%; /* Adjust this value to position the button halfway out from the bottom right corner */
  right: 10%; /* Adjust this fvalue to position the button halfway out from the bottom right corner */
}
.price-layer p {
  margin-right: 20%;
}

.tags .tag {
  margin-left: 5%;
}
.tags p {
  margin-top: 20px;
  margin-bottom: 10px;
}

.tags .tag {
  margin-right: 10px;
  padding: 2px 5px;
  background-color: #384959;
  color: #67c1f5;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.tags .tag:hover {
  background-color: #ddd;
  color: #000;
}

.game-carousel .thumb {
  height: 48px;
  width: 80px;
}
.comment-statistics {
  display: flex;
  flex-direction: row;
}

.overall-likes,
.recent-likes {
  border: 1px solid black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 15px;
}
.recent-likes {
  background: rgba(148, 217, 255, 0.2);
  width: 40%;
}

.overall-likes {
  width: 60%;
  background: rgba(5, 45, 66, 0.266);
}

.likes-header {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 5px;
  color: #e5e5e5;
  margin-bottom: 10px;
}

.stat-body {
  display: flex;
  flex-direction: row;
}
.positive {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 9px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  color: #66c0f4;
}

.average {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 9px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  color: orange;
}

.negative {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 9px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  color: red;
}

.percentage {
  font-size: 12px;
  color: #8ba6b6;
  font-family: Arial, Helvetica, sans-serif;
}
.overall-comment {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.comment-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}

.comment-username {
  color: #c1dbf4;
  font-size: 13px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: bold;
  margin-right: 15%;
  display: flex;
  flex-direction: row;
}
.comment-username img {
  height: 48px;
  width: 48px;
  padding: 0 15px 0 0;
}

.comment-content .fa-brands.fa-steam {
  color: gray;
  font-size: 16px;
  margin-left: auto;
  width: auto;
  height: 32px;
  line-height: 25px;
  padding: 0%;
}
.comment-header img {
  height: 32px;
  width: 32px;
}
.buttons button {
  background: #1a9dea;
}
.comment-updated-at {
  margin: 0px 0px 8px;
  font-size: 10px;
  text-transform: uppercase;
  font-style: normal;
  color: #8091a2;
  display: inline-block;
  opacity: 0.6;
}
.comment-header .not-recommended {
  color: red;
}
.comment-part-header {
  background: #1b2838;
  padding: 1%;
}
.cutline {
  border-top: 1px solid #000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ask-for-login {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #c2d2db;
}
.ask-for-login-container {
  display: flex;
  justify-content: center;
}
.ask-for-login button {
  margin-top: 2%;
  margin-bottom: 2%;
}
