.search-container {
  position: relative;
  height: 25px;
  margin: 7px 0;
  margin-left: 20%;
  top: 0;
  width: 59%;
  padding: 0.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(
    90deg,
    rgba(62, 103, 150, 0.919) 11.38%,
    rgba(58, 120, 177, 0.8) 25.23%,
    rgb(15, 33, 110) 100%
  );
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  z-index: 2;
  color: white;
}

.welcome {
  margin-left: 20%;
}

.tag-container {
  display: flex;
  margin-left: 5%;
  gap: 20px;
  padding: 10px 0;
}

.tag {
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.tag:hover {
  color: lightgray;
}

.search-bar-container {
  display: flex;
  align-items: center;

  background-image: none;
  background-color: #316282;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
  color: #fff;
  margin-bottom: 0px;
  outline: none;
  height: 27px;
  padding: 0px 6px;
}

.search-input {
  background-image: none;
  background-color: #316282;
  border: none;
  color: #fff;
  margin-bottom: 0px;
  outline: none;
  height: 27px;
  padding: 0px 6px;
}

.search-result-image {
  width: 65px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  margin-right: 10px;
  margin-top: 3px;
}
.search-results-dropdown {
  position: absolute;
  top: 90%;
  right: 0%;
  width: 40%;
  background-color: #3d4450;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: scroll;
}

.search-results-dropdown::-webkit-scrollbar {
  display: none;
}
.search-results-dropdown :hover {
  background-color: white;
  color: black;
}

.search-result {
  display: flex;
  align-items: center;
  padding: 3px;
}

.search-result-details {
  margin-left: 20%;
  font-size: small;
}
