.carousel-slide {
  position: relative !important;
  display: flex;
  flex-direction: row;
  height: 353px;
  width: 940px;

  background-color: rgba(41, 38, 38, 0.971);
  color: white;
  /* margin-top: 20px; */
}

.carousel-slide-image {
  width: 616px !important;
  height: 100%;
  object-fit: fill;
  pointer-events: all !important;
  cursor: pointer;
}

.carousel-slide-content {
  width: 50% !important;
  height: 100% !important;
  background-image: url("../../assets/images/carouselbg.png");
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.carousel-slide-ingame-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50% !important; /* occupies half the height of its parent */
  overflow: hidden; /* prevent contents from overflowing */
  margin-top: auto;
  padding-bottom: 1px;
}

.carousel-slide-ingame-images img {
  width: 50% !important; /* each image occupies half the width of its parent */
  height: 50% !important; /* each image occupies half the height of its parent */
  object-fit: fill; /* make the image cover its entire area */
  pointer-events: all !important;
  padding: 1%;
  cursor: pointer;
  transition: transform 0.2s;
}
.carousel-slide-ingame-images img:hover {
  transform: scale(1.1); /* Enlarge the image a bit */
}
.carousel-slide-image-hovered {
  position: relative !important;
  top: 0;
  left: 0;
  width: 616px !important;
  height: 100%;
  object-fit: fill;
  pointer-events: all !important;
  cursor: pointer;
  z-index: 1; /* make it appear on top of the other elements */
  flex-shrink: 0;
}

/* //////////////////////////////////////////////////////////////////////////// */
.carousel-slide-title {
  padding: 10px;
  text-align: center;
  font-size: 32px;
}
.carousel-slide-ingame-images,
.carousel-slide-onsale,
.carousel-slide-popular,
.carousel-slide-price {
  padding: 10px;
  text-align: left;
}

.carousel-slide-popular {
  background-color: grey;
  color: white;
  margin-left: 3%;
  display: flex;
  justify-content: center;  /* Aligns items on the horizontal line */
  align-items: center; 
  width: 80px;
  height: 20px;

  font-size: 12px;
  text-align: center;
}

.carousel-slide-price {
  font-size: 20px;
  font-weight: bold;
}
