/* TODO Add site wide styles */
@import url("reset.css");
.header {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  height: 60px;
  width: 100%;
  min-height: 100px;
  z-index: 999;
}

body {
  font-family: "Motiva Sans", Arial, sans-serif;
  background: linear-gradient(#2a475e 25%, rgba(187, 187, 187, 0) 70%) top
    no-repeat #15283f;
  border-radius: 5px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
